/* scrollbar.css */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #9c9caf; /* Tailwind gray-400 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind gray-500 */
}

